<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        <%= @user.display_name %>
      </h1>
    </div>
  </div>
</div>

About me:
<div class="row">
  <div class="col-sm-12">
    <div class="well" %>
      <h4>
        <%= @user.about_me %>
      </h4>
    </div>
  </div>
</div>

<%= link_to "Return to Posts", posts_path %>
