<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Posts</h1>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post_path(post) %></td>
              <td><%= link_to post.user.first_name, user_path(post.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to "Create New Post", new_post_path %>
